name: CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ "17", "21" ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}
          cache: "gradle"

      - name: Build & Test
        run: ./gradlew clean test --no-daemon
